
*{
    box-sizing: border-box;
 }

.container{
    width: 70%;
    background-color: #577BC1;
    text-align: center;
    
        }

header div{
    background-image: url(./portfolio/header\ BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    font-style: italic;
    color: white;
    text-align: center;
    display: block;
    position: relative;
        }

#personal{  
    width: 130px;
    height: 140px;
    position: relative;
    
        } 
@media ( max-width: 1024px )
        {#personal {
            height:130px ;
            width: 140;
         }
        
           
        } 

        
.titlesborder{
    margin-top:3%;
    }


main{
width: 80%;
margin: auto;
background-color: #577BC1;
font-style: italic;
    }

.obj{
width: 70%;
margin: auto;
padding: 50px;
text-align: center;
font-size: 1vw;
    }

@media ( max-width: 1024px )
    {.obj { font-size: 2vw;}
    
       
    }  

.card1{
    padding-right:100px;
    margin-bottom:15px;
    border: 10px;
    }

.imgforcard{
    height: 250px;
    width:290px;
      }
@media (max-width:500px)
 {.imgforcard {
     height: 150px;
     width:190px ;
 } }

footer {
        padding: 5px;
        background-color: #344CB7;
        background-size: 100%; 
           
    }

#footer_box{
        display: flex;
        flex-direction: row;
        padding-bottom:75px;
        background-color: #344CB7;
        margin-left: 15%;
    }

@media ( max-width: 700px )
 { #footer_box {
     flex-direction: column; }
    
}

#footer-text-left{
        font-size:18px;
        color: rgb(17, 5, 61);
        font-family:Euphemia;
        padding-right: 80px;
           
    }

#footer-text-center{
        font-size:18px;
        color:rgb(17, 5, 61);
        font-family:Euphemia;
        padding-right: 80px;    
    }
    
#footer-text-right{
    
        font-size:18px;
        font-family:Euphemia;
        color:rgb(17, 5, 61);
        padding-right: 80px;
    }
   



