
*{
    box-sizing: border-box;
 }

.nav-bar
{
    background-color: #082e47ec;
}


ul a
{
    color: #8bb9bb;
}

ul a:hover{
    color: #F9F9F9;
}

/* ******************************************************* that's the header ********************************************************* */

header div
{
    background-image: url(./portfolio/header\ BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:470px;
    font-style: italic;
    color: white;
    text-align: center;
    display: block;
    position: relative;
}

#personal
{  
    width: 160px;
    height: 180px;
    position: relative;
    margin-top: 6%;
    
} 


@media ( max-width: 1024px )
        {
            #personal 
            {
             height:130px ;
             width: 140px;
            }
        
           
        } 

        
.container
    {
     margin: 40px;
    }                  
    


.label
{
    color: #082e47ec ;  
    text-align: center;
    margin-top: -35px;
}





    /* *************************************************** that's the main ************************************************** */

main
{
  width: 80%;
  margin: auto;
  font-style: italic;
}


.obj{
width: 70%;
margin: auto;
padding: 50px;
text-align: center;
font-size: 20px;

    }

#prjct{
    color: #082e47ec ;  
    text-align: center;
    margin-top: -20px;
}


#exp{
    color: #082e47ec ;  
    text-align: center;
    margin-top: -20px;
}

@media ( max-width: 1024px )
    {.obj { font-size: 2vw;}
    
       
    }  

@media (max-width:500px)
 {.imgforcard {
     height: 150px;
     width:190px ;
 } }


            /* ********************************************************* That's the footer ****************************************************** */
footer {
        background-color: #082e47ec;
           
    }

#footer_box{
        display: flex;
        flex-direction: row;
        padding-bottom:75px;
        
        margin-left: 15%;
        margin-top: 4%;
    }

@media ( max-width: 700px )
 { #footer_box {
     flex-direction: column; }
    
}

#footer-text-left{
        font-size:18px;
        color: #BDC7C9;
        font-family:Euphemia;
        padding-right: 80px;
           
    }

#footer-text-center{
        font-size:18px;
        color:#BDC7C9;
        font-family:Euphemia;
        padding-right: 80px;    
    }
    
#footer-text-right{
    
        font-size:18px;
        font-family:Euphemia;
        color:#BDC7C9;
        padding-right: 80px;
    }
   



